* {
    padding: 1px;
    margin: 1px;
    color: #fff;
    line-height: 50px;
}

body {
    background-color: rgb(39, 39, 39);
}

h1 {
    font-size: 50px;
}

.background-color {
    background-color: #f00;
    margin-right: 1000px;
    margin-bottom: 50px;
}

.background-image {
    background-image: url(https://lncimg.lance.com.br/cdn-cgi/image/width=850,quality=75,format=webp/uploads/2025/10/Vini-Jr-e-Virginia-1.png);
    height: 1000px;
    background-repeat: no-repeat;
}

.background-image p {
    background-color: black;
    margin-right: 1000px;
}

.background-position {
    background-image: url(https://lncimg.lance.com.br/cdn-cgi/image/width=850,quality=75,format=webp/uploads/2025/10/Vini-Jr-e-Virginia-1.png);
    height: 1000px;
    background-position: center;
    background-repeat: no-repeat;
}

.background-repeat {
    background-image: url(https://lncimg.lance.com.br/cdn-cgi/image/width=850,quality=75,format=webp/uploads/2025/10/Vini-Jr-e-Virginia-1.png);
    background-repeat: repeat-x;
    height: 1000px;
}

.background-repeat p {
    background-color: black;
    margin-right: 1000px;   
}
