* {
    padding: 1px;
    margin: 1px;
    background-color: rgb(39, 39, 39);
    color: #fff;
    line-height: 50px;
}

h1 {
    font-size: 50px;
}

header p {
    opacity: 50%;
}

a {
    background-color: #955858;
    display: inline-block;
    padding: 10px 10px;
}

a:hover {
    background-color: #ba9999;
    cursor: pointer;
}