* {
    padding: 1px;
    margin: 1px;
    background-color: rgb(39, 39, 39);
    color: #fff;
    line-height: 50px;
}

h1 {
    font-size: 50px;
}

.margin-t-r-b-l {
    margin-top: 100px;
    margin-right: 500px;
    margin-bottom: 100px;
    margin-left: 40px;
    background-color: #f00;
}

.shorthand {
    margin: 10px 20px;
    background-color: #f00;
}