* {
    padding: 1px;
    margin: 1px;
    background-color: rgb(39, 39, 39);
    color: #fff;
    line-height: 50px;
}

h1 {
    font-size: 50px;
}

.padding-t-r-b-l {
    padding-top: 100px;
    padding-right: 500px;
    padding-bottom: 200px;
    padding-left: 50px;
    background-color: #f00;
}

.shorthand {
    padding: 10px 20px;
    background-color: #f00;
}