* {
    padding: 1px;
    margin: 1px;
    background-color: rgb(39, 39, 39);
    color: #fff;
    line-height: 50px;
}

h1 {
    font-size: 50px;
}

.width {
    color: red;
    width: 500px;
}

.max-width {
    color: blue;
    max-width: 100%;
}

.height {
    color: green;
    height: 200px;
}

.min-height {
    color: yellow;
    min-height: 100%;
}