* {
    padding: 1px;
    margin: 1px;
    background-color: rgb(39, 39, 39);
    color: #fff;
    line-height: 50px;
}

h1 {
    font-size: 50px;
}

header p {
    opacity: 50%;
}

.display-inline p {
    display: inline;
}

.ex1 {
    color: red;
}

.ex2 {
    color: green;
}

.display-block span {
    display: block;
}

.display-inline-block {
    display: inline-block;
}

.display-inline-block p {
    width: 20px;
    height: 20px;
}