* {
    padding: 1px;
    margin: 1px;
    background-color: rgb(39, 39, 39);
    color: #fff;
    line-height: 50px;
}

h1 {
    font-size: 50px;
}

.color {
    color: #f00;
}

.font-family {
    font-family: 'Courier New', Courier, monospace;
}

.font-size {
    font-size: 20px;
}

.line-height {
    line-height: ;
}